
@{
  
}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h3>Koronaya Veda partisi!</h3>
            <p>
                Artık maskeleri atıyoruz..... Katılmak için
                <a asp-action="Yanit" asp-controller="Home" class="btn btn-success" >tıklayın</a>
            </p>
        </div>
    </div>
</div>


