@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
    var itemCount = 0;
}

<div class="row">
    @foreach (var item in Model.Products)
    {
        if (itemCount != 0 && itemCount % 4 == 0)
        {
        @:</div>
        @:<div class="row">
        }
        <partial name="_ProductCart" model="@item" />
        itemCount++;
    }


</div>
<div page-model="@Model.PagingInfo" page-action="Index" page-url-categoryId="@Model.CategoryId">
</div>
@section Scripts{ 
  <script>
      $(document).ready(function () {
          $('.sepet').on('click', function () {
              let productId = $(this).data('id');
              let name = $(this).data('name');
              $.ajax({
                  url: '/Cart/AddToCart/' + productId,
                  method: 'GET',
                  contentType: 'application/json',
                  success: function (data) {
                      if (data === 'OK') {
                          alertify.set('notifier', 'position', 'bottom-center');
                          alertify.success(name + ' sepete eklendi...');
                      }                     
                    
                  },
                  error: function (err) {
                      console.log(err);
                  }
              });
            
          });
      });
  </script>
}
 



